<!DOCTYPE html>
<html>
  <head>
    <title>Tomes Journal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="relative ">
    <%= render "layouts/navbar" %>
    <main class="md:container md:mx-auto mt-28 px-5 w-full">
      <%= yield %>
    </main>
  </body>
</html>
